.sorrymobile {
    display: none;
}
.hero{
    position: relative;
    width: calc(100vw - 90px);
    height: 100vh;
}
.title {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    left: calc(50% - (calc(300px + 2vw)/2));
    top: calc(40%);
}
.logohero {
    width: calc(300px + 2vw);
}

.bio {
    position: relative;
    top: 72%;
}

.bio p {
    margin-top: 10px;
}
.wrapper1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  }
  .one1 {
    grid-column: 1;
    grid-row: 1;
  }
  .two1 { 
    grid-column: 2;
    grid-row: 1;
  }
  .three1 {
    grid-column: 3;
    grid-row: 1;
  }
  .four1 {
    grid-column: 4;
    grid-row: 1;
  }
.herofooter {
    position: absolute;
    bottom: 0px;
    width: 100%;
}
  .wrapper2 {
    display: grid;
    height: 50px;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0px;
  }

  .two2 {
      text-align: center;
  }

  .three2 {
      text-align: right;
  }

  .noise {
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    
    width: 100%;
    height: 100%;
    
    pointer-events: none;
    opacity: .15;
}
.a-link-inline{
  display: inline-block;
}
.soc i{
  font-size: 25px;
  padding-right: 20px;
}

.ball {
  background: maroon;
  width: 10px;
  height: 10px;
  border-radius: 100%;

  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);

  mix-blend-mode: difference;
}